.category-tile {
    height: 250px;
    background-size: cover;
    background-position: center;
    padding-left: 20px !important;
    padding-right: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 30px;
}

.home-banner {
    background-image: url("../images/main-banner.png");
    background-color: grey;
    height: 600px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden; /* prevent horizontal scrolling */
  
    /* add the following properties to center the banner vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* add this property to prevent horizontal scrolling */
  }
  
  /* add the media query to switch the background image */
  @media (max-width: 580px) {
    .home-banner {
      background-image: url("../images/main-banner-small.png");
      height: 250px; /* set a smaller height for the banner on smaller screens */
      background-size: cover;
      background-position: center top;
    }
  }
  
  .sale-banner {
    background-image: url("../images/sale-banner.png");
    background-color: grey;
    height: 600px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden; /* prevent horizontal scrolling */
  
    /* add the following properties to center the banner vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* add this property to prevent horizontal scrolling */
  }
  
  /* add the media query to switch the background image */
  @media (max-width: 580px) {
    .sale-banner {
      background-image: url("../images/sale-banner-small.png");
      height: 420px; /* set a smaller height for the banner on smaller screens */
      background-size: cover;
      background-position: center center;
    }
  }
  
  
  
  
  

.card {
    border: none !important;
    width: 15rem !important;
}
img.card-img-top.product-preview-img {
    border-radius: 10px;
}

.category-tile:hover {
    transform: scale(1.05);
}

:focus {
    outline: none;
}

